*{
  box-sizing: border-box;
}

.container{
  margin-top: 60px;
  clear: left;
}

.button{
  width: 150px;
  cursor: pointer;
  background: linear-gradient(to top, white, lightgray);
}

.cell{
  width: 25px;
  height: 25px;
  border:1px solid black;
  float: left;
  background: linear-gradient(to top right, white, lightblue);
  margin: -1px;
  text-align: center;
  padding: 6px;
  cursor: pointer;
}

div.cell[clicked]{
  background: linear-gradient(to top right, white, lightgray);
}


.gameMenu{
  float: left;
  margin-right: 10px;
}

#gameMenu{
  
}

#bombsLeft{
  width: 30px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
  border-radius: 5px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.cell[value='1']{
  color: #000000;
}

.cell[value='2']{
  color: #7b68ee;
}

.cell[value='3']{
  color: #008b8b;
}

.cell[value='4']{
  color: #ff7256;
}

.cell[value='5']{
  color: #db7093;
}

.cell[value='6']{
  color: #f08080;
}

.cell[value='7']{
  color: #7b68ee;
}

.cell[value='8']{
  color: #c71585;
}